<?xml version="1.0"?>
<clickhouse>
    <max_connections>4096</max_connections>
    <keep_alive_timeout>64</keep_alive_timeout>
    <max_concurrent_queries>100</max_concurrent_queries>
    
    <uncompressed_cache_size>268435456</uncompressed_cache_size>
    <mark_cache_size>536870912</mark_cache_size>

    <zookeeper>
        <node>
            <host>clickhouse-keeper</host>
            <port>9181</port>
        </node>
    </zookeeper>

    <remote_servers>
        <dml_cluster>
            <shard>
                <internal_replication>true</internal_replication>
                <replica><host>clickhouse-11</host><port>9000</port></replica>
                <replica><host>clickhouse-12</host><port>9000</port></replica>
            </shard>
            <shard>
                <internal_replication>true</internal_replication>
                <replica><host>clickhouse-21</host><port>9000</port></replica>
                <replica><host>clickhouse-22</host><port>9000</port></replica>
            </shard>
        </dml_cluster>
    </remote_servers>

    <distributed_ddl>
        <path>/clickhouse/task_queue/ddl</path>
    </distributed_ddl>

    <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>
</clickhouse>
